* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



nav form label,
nav form span {
  font-size: 30px;
  font-weight: bold;
}

nav form #movie-search {
  width: 17rem;
  height: 3rem;
  font-size: 25px;
}

nav form button {
  width: 4rem;
  height: 3rem;
}

nav form #latest-movies-btn {
  width: auto;
  font-size: 18px;
}

#movie-details {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

#movie-details .card {
  float: left;
  width: 18rem;
  margin: 5rem 2rem 0 1rem;
}

#movie-details .card:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 1s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}


#movie-details .card-body {
  text-align: center;
}

#movie-details .card-body h4 {
  font-size: 20px;
  color: #4d5076;
}