* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  text-align: center;
  font-size: 2.3em;
  margin: 0.7em;
  color: #9c27b0;
  font-weight: 600;
}

form #movie-search {
  float: left;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 32vw;
  background: #2196f30f;
  margin-bottom: 2em;
  margin-left: 30vw;
}

form #search-btn {
  float: left;
  width: 8vw;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form button:hover {
  background: #0b7dda;
}

.latest {
  clear: both;
  font-size: 1.5em;
  text-align: center;
  color: #9c27b0;
  font-weight: bold;
}
.latest i {
  color: black;
}

#movie-details .card {
  position: relative;
  float: left;
  width: 15em;
  margin: 2em;
  border-radius: 4%;
  padding: 0.3em;
  background-color: #f1e2eb;
  height: 25em;
}
#movie-details .card:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 1s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

#movie-details .poster-container {
  height: 80%;
}

#movie-details .poster-container img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 4%;
  border-top-left-radius: 4%;
}

#movie-details .content-container {
  text-align: center;
  line-height: 2em;
  position: absolute;
  top: 80%;
  left: 13%;
}

#movie-details .content-container h4 {
  font-size: 20px;
  color: #4d5076;
}
